* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}

html, body { height: 100%;}
body { background-color: rgb(25 25 25);}

a { text-decoration: none;}
li { list-style: none;}

section {

    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff; */
}

header {
    background-color: #171717;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #3a7fe3;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul { position: relative; display: flex;}
header ul li a {
    display: inline-block;
    color: rgb(230, 230, 230);
    font-weight: 400;
    margin-left: 40px;
    position: relative;
}

header ul li a::after {

    content: "";
    position: absolute;
    height: 2px;
    background-color: #489dd1;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
    box-shadow: 
    0 0 35px 1px #fff,  /* içi  beyaz */
    0 0 115px 11px rgb(0, 107, 207), /* ortasi magenta */
    0 0 140px 2px #128;   /* dışı cyan */
    border-radius: 50%;

    
    

}


header ul li a:hover::after { width: 100%;}

.site-content {

position: relative;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}



.site-content textArea {

    position: relative;
    max-width: 600px;

}


.site-content .textArea { color: #c9c5c5; text-align: center;}
.site-content .textArea h1 { font-weight: 800; font-size: 3em; color: #e7f4ff; }
.site-content .textArea h2 { font-family: monospace;}

.site-content .textArea h2 span:not(#show-center) {

    color: #6bbcf7;
    font-size: 1.2em;
    font-weight: 900;
}

.site-content #show-center {

    display: inline-block;
    width: 100%;
    text-align: center;
}

.site-content .textArea  a {

    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #3c4edd;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;

}

.site-content .imgArea {

    width: 600px;
    display: flex;
    justify-content: flex-end;
    /* padding-right: 50px; */
    margin-top: 50px;
}

.site-content #about {text-align: center;}
.site-content .imgArea img 
{ 
    max-width: 340px;
    width: 340px;
    height: 340px;
    border-radius: 5px;
    border: 2px solid #e5f8f9;
}

.site-content .sosyal {
    position: absolute;
    top: 50%;
    right: -8%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-content .sosyal li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}



.circle {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a3aff;
    /* #b7b7ff */
    clip-path: circle(600px at right 800px);
}